html, body {
height: 100%;
width: 100%;
margin: 0;
color: grey;
}

#sidebar, #content {
height: 100%;
overflow: auto;
float: left;
transition: width .35s;
}

#sidebar {
background: white;
width: 30%;
box-shadow: 2px 0 4px rgba(0,0,0,0.5);
color: red;
}

#sidebar.collapsed {
width: 0;
}

#sidebar.collapsed + #content {
width: 100%;
}

#content {
background: #DB13DA;
width: 70%;
}

button {
width: 30px;
height: 30px;
border-radius: 50%;
border: none;
outline: none;
background: blue;
maegin: 20px;
cursor: pointer;
}


h1 {
text-align: center;
color: red;
font-family: sans-serif;
}

.topcon {
align: center;
color: #F14bF0;
}

#maintext {
align: center;
color: #EA2FA3;
}

#whmtr {
align: center;
color: red;
}

